  ;; This global config file is used by all graphs.
;; Your graph's logseq/config.edn overrides config keys in this file
;; except for maps which are merged.
;; As an example of merging, the following global and local configs:
;;   {:shortcuts {:ui/toggle-theme "t z"}}
;;   {:shortcuts {:ui/toggle-brackets "t b"}}
;;
;;  would result in the final config:
;;   {:shortcuts {:ui/toggle-theme "t z"
;;                :ui/toggle-brackets "t b"}}

{
  :default-home {:page "home"}
  :shortcuts {
    :editor/move-block-up       "ctrl+mod+up"
    :editor/move-block-down     "ctrl+mod+down"
    :command-palette/toggle     "mod+e"
    :editor/expand-block-children ["mod+alt+]", "z o"]
    :editor/collapse-block-children ["mod+alt+[", "z c"]

    ; ideally I'd have jump to block @ cmd+r),
    ; but logseq doesn't seem to support disabling refresh @ cmd+r
    :go/search                  ["mod+t"]
    :go/search-in-page          ["mod+shift+t"]

    ; :editor/new-block           "enter"
    ; :editor/new-block           "cmd+enter"
    ; :editor/new-line            "shift+enter"
  }
}
